<h1 class = "task-title">トップ情報</h1>

<%= render "shared/header" %>
<% if user_signed_in? %>
<table class = "detail-table-general-task">
  <tbody>
    <tr>
     <th class="detail-task1">内容</th>
     <th class="detail-task2">日程</th>
     <th class="detail-task3"></th>
     </tr>
   <% @tasks.each do |task| %>
     <tr>
       <td class="detail-task-value1"><%= task.name %></td>
       <td class="detail-task-value2"><%= task.event_date %></td>
       <% if current_user.id == 1 %>
         <td class="detail-task-value3">
          <%=link_to '内容を編集する', edit_task_path(task.id) %>
         </td>
       <% else %>
          <td class="detail-task-value3">
           <%=link_to '詳細を見る', task_path(task.id) %>
          </td>
       <% end %>
     </tr>
   <% end %>
   </tbody>
</table>
<% end %>