<header>
<div class= "main">
  <h1 class = "title">ユーザーページ</h1>
</div>
<div class = "header-top">
<ul>
  <h3 class= "greeting">こんにちは<span class = "username"><%= @user.name %></span>さん</h3>
</ul>
<% if user_signed_in? %>
<ul class = "lists-right">
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout1"  %>
</ul>
<% end %>
</div>
</header>
<body>
<div class = "body">
<% if @user.id == 1 %>
  <div class = "user">
    <%= link_to "利用ユーザー一覧",admins_path, model: :get  %>
  </div>
  <div class = "order">
    <%= link_to "参加者一覧", appoints_path, method: :get %>
  </div>
<% else%>
<div class = "buy">
 <%= link_to "予約履歴", appoints_path, method: :get %>
</div>
 <div class = "service1">
   <%#= link_to 'ファンサービスに応募', services_path, method: :get %>
 </div>
  <div class = "service1">
    <%#= link_to "応募したサービス一覧", allappoints_path, method: :get %>
  </div>
<% end %>
<div class = "item">
<%= link_to "トップ情報",root_path  %>
</div>
</div>

<div>
 <h1 class = "information">登録情報</h1>
</div>
<table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item1">名前</th>
          <td class="detail-value1"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="detail-item2">メールアドレス</th>
          <td class="detail-value2"><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>