<header class='top-page-header'>
<div class='nav'>
<div class='lists-left'>
<% if user_signed_in? %>
  <% if current_user.id == 1 %>
   <%= link_to '予定をリリースする', new_task_path, method: :get, class: "category-list" %>
  <% else %>
    <%#= link_to '予定を決める', new_comment_path, method: :get, class: "category-list" %>
  <% end %>
<% end %>
</div>
<% if user_signed_in? %>
  <div class="greeting">
     <%= link_to current_user.name, user_path(current_user.id) %>
  </div>
  <div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %>
  </div>
<% else %>
 <ul class='lists-right'>
  <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
</ul>
<% end %>
</div>
</header>